@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html {
  scroll-behavior:smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header .menu {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

header .menu .lista {
  display: flex;
  align-items: center;
}

header .menu img {
  border-radius: 50%;
}



header .menu .lista nav ul {
  display: flex;
}

header .menu .lista nav ul li {
  margin: 0 20px;
}

header .menu .lista nav ul li a {
  color: #a8a1a5;
  font-weight: bolder;
  text-transform: uppercase;
}

header .menu .lista nav ul li :hover {
  color: #e2d2b0;
}

header .menu .lista nav ul li .active {
  color:#26ab9e;
  text-decoration: underline;
  font-weight:bolder;
}

header .menu .boton {
  margin-top: 35px;
}

header .menu .boton a {
  background: #0b5850;
  color: #d2c8ce;
  padding: 10px 20px;
  border-radius: 5px;
}

header .menu .boton :hover {
  background: #1e8278;
  color: #d2c8ce;
  transition: 0.4s;
}

header .menu .boton :active {
  background: #010605;
  color: #ffffff;
}

#menu_desplegable {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: first baseline;
}

#hidden{
  display: none;
}

#menu_desplegable img {
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}

.lista_desplegable {
  width: 25%;
}

ol{
  display: none;
}

input:checked  ~ ol{
  display:block;
}

#menu {
  display: none;
 }

label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  color: #fff;
}

ol li {
  text-align: center;
  background: #1e8278;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid #000000;
}

ol li:hover {
  background-color: #0b5850;
  cursor: pointer;
}

ol .li {
  background-color: #080808;
}

ol li:hover {
  background-color: #313131;
  cursor: pointer;
}

ol li a {
  text-decoration: none;
  color: #fff;
}

ol .li a {
  text-decoration: none;
  color: #e2d2b0;
}

/* INDEX */

body{
  background-color: #080808;
}

#container-index{
  background: url(../Assets/images/background_index.jpg) center;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titulo_index {
  padding-top: 100px;
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
}

#encabezado {
  text-align: justify;
  font-size: 2rem;
  padding: 50px 200px;
}

#boton_index {
  margin: 5px 0 0 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: #26ab9e;
  width: fit-content;
  text-decoration: none;

}

#boton_index:hover {
  background-color: #b4f8f1;
}

#boton_index a {
  color: #ffffff;
}

#boton_index a:hover {
  color: #080808;
}

h2{
  font-style: oblique;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: rgb(201, 191, 191);
  padding: 20px;
  margin: 20px; 
}

h3{
  font-style: oblique;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: rgb(201, 191, 191);
}

h4{
  font-style: oblique;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: rgb(201, 191, 191);
  padding: 20px;
  margin: 20px;

 }

.container-mision{
  color: rgb(155, 140, 140);
  font-weight: bolder;
  padding-right: 200px;
  margin-top: 10px 10px 10px ;
  padding: 50px;
}
 
.img-mision{
  margin-left: 10px;
  margin-right: 10px; 
  width: 15%;
  float: left;  
}

.container-historia{
  color: rgb(155, 140, 140);
  font-weight: bolder;
  margin: 80px;
  padding: 20px 10px;
}

.productos{
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}

.productos li{
  display: inline-block;
  text-align: center;
  width: 50%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 50px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;    
}

.productos li:hover{
  border-color: #3d2222;
}

.productos li:active{
  border-color: #088c19;
}

.productos h4{
  font-size: 50px;
  font-weight: bold;
}

.productos li:hover h4{
  font-size: 33px;
}

.producto-descripcion{
  font-size: 18px;
}
.producto-año{
  font-size: 20px;
  font-weight: bold;
  margin-top:10px;
}


.texto-gardel{
  font-weight: bold;
  color: rgb(155, 140, 140);
  padding: 0 10px;
  
}

.container-video{
  margin: 20px auto;
  position: relative;
  left: 50%;
 }

/*CATALOGO*/

#inicio_catalogo {
  height: 80vh;
  background: url(../Assets/images/background_catalogo.jpg) center ;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulo_catalogo {
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin-left: 20px;
}

.contenido {
  max-width: 1100px;
  width: 100%;
  margin: 40px auto;
  display: flex;
}

.mostrador {
  width: 100%;
  transition: .5s ease;
}

.mostrador .fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.mostrador .fila .item {
  background-color: #e2d2b0;
  max-width: 210px;
  padding: 50px;
  height: 250px;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: .3s;
}

.mostrador .fila .item:hover {
  background-color: #707070;
}

.mostrador .fila .item img {
  width: 100%;
  margin: 50px 0;
}

.mostrador .fila .item .descripcion {
  color: #a8a1a5;
  font-weight: bold;
}

.mostrador .fila .item .precio {
  color: #e85f29;
  font-weight: bold;
  font-size: 20px;
}

.seleccion {
  transition: .5s ease;
  opacity: 0;
  width: 0%;
  border: 1px solid #0b5850;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.cerrar {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.info {
  padding: 20px;
}

.info img {
  display: block;
  margin: 50px;
  width: 55%;
}

.info h2 {
  color: #707070;
  margin-bottom: 10px;
}

.info p {
  font-size: 14px;
  color: #707070;
  margin-bottom: 10px;
}

.info .precio {
  font-size: 50px;
  font-weight: bold;
  color: #e85f29;
  margin-bottom: 10px;
  display: block;
}

.info .fila {
  display: flex;
  align-items: flex-end;
}

.info .fila label {
  display: block;
  margin-bottom: 10px;
}

.info .fila select {
  width: 100px;
  font-size: 18px;
  padding: 6px;
  margin-right: 50px;
}

.info .fila button {
  height: 40px;
  border: none;
  padding: 0 10px;
  color: #707070;
  background-color: #e85f29;
}

/* EVENTOS */

.header_eventos {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#main_eventos {
  background: #000000;
  width: 100%;
  text-align: center;
}

#inicio {
  background: url(../Assets/images/background.jpg) center no-repeat;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  width: 100%;
}
#slash img {
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}

#slash:hover img {
  background:none;
	opacity: 0.5;
  z-index: 0;
}

#buscar_eventos{
  padding-top: 80px;
}

#buscar_eventos input{
  width:450px;
  font-size: 1.5rem;
  padding: 5px 0;
  text-align: center;
}

h1{
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

#eventos {
  background: url(../Assets/images/background2.jpg) center;
  padding: 50px 0;
  display: grid;
  grid-template-areas: 
  "titulo titulo titulo titulo"
  "main main main main"
  "headliners headliners headliners headliners"
  "headliner1 headliner1 headliner2 headliner2"
  "headliner3 headliner3 headliner4 headliner4"
  "conciertos conciertos conciertos conciertos"
  "concierto1 concierto2 concierto3 concierto4"
  "teatros teatros teatros teatros"
  "teatro1 teatro2 teatro3 teatro4"
  "bares bares bares bares"
  "bar1 bar2 bar3 bar4"
  ;
}

#titulo_main {
  background: url(../Assets/images/fondo_titulo.png) center no-repeat;
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffffff;
  grid-area: titulo;
  margin-top: 20px;
  -webkit-animation: titulo_main 1.5s ease-in-out infinite both;
	animation: titulo_main 1.5s ease-in-out infinite both;
}

@-webkit-keyframes titulo_main {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes titulo_main {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

#main_event {
  margin-top: 20px;
  text-align: center;
  grid-area: main;
}

#headliners {
  position: relative;
  background: url(../Assets/images/fondo_titulo.png) center no-repeat;
  padding: 100px 0;
  grid-area: headliners;
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffffff;
  margin: 20px 0;
  -webkit-animation: headliners 1.5s ease-in-out infinite both;
	animation: headliners 1.5s ease-in-out infinite both;
  overflow: hidden;
}

@-webkit-keyframes headliners {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes headliners {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

#headliner1 {
  grid-area: headliner1;
}

h3{
  color: #ffffff;
}

p {
  color: #ffffff;
}

#headliner2 {
  grid-area: headliner2
}

#headliner3 {
  grid-area: headliner3;
  padding-top: 70px;
}

#headliner4 {
  grid-area: headliner4;
  padding-top: 70px;
}

#conciertos {
  background: url(../Assets/images/fondo_titulo.png) center no-repeat;
  padding: 100px 0;
  grid-area: conciertos;
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffffff;
  margin: 20px 0;
  -webkit-animation: conciertos 1.5s ease-in-out infinite both;
	animation: conciertos 1.5s ease-in-out infinite both;
}

@-webkit-keyframes conciertos {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes conciertos {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

#concierto1 {
  grid-area: concierto1;
  gap: 20px;
  padding-bottom: 20px;
}

#concierto2 {
  grid-area: concierto2;
  padding-bottom: 20px;
}

#concierto3 {
  grid-area: concierto3;
  padding-bottom: 20px;
}

#concierto4 {
  grid-area: concierto4;
  padding-bottom: 20px;
}

#teatros {
  background: url(../Assets/images/fondo_titulo.png) center no-repeat;
  padding: 100px 0;
  grid-area: teatros;
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffffff;
  margin: 20px 0;
  -webkit-animation: teatros 1.5s ease-in-out infinite both;
	animation: teatros 1.5s ease-in-out infinite both;
}

@-webkit-keyframes teatros {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes teatros {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

#teatro1 {
  grid-area: teatro1;
  padding-bottom: 20px;
}

#teatro2 {
  grid-area: teatro2;
  padding-bottom: 20px;
}

#teatro3 {
  grid-area: teatro3;
  padding-bottom: 20px;
}

#teatro4 {
  grid-area: teatro4;
  padding-bottom: 20px;
}

#bares {
  background: url(../Assets/images/fondo_titulo.png) center no-repeat;
  padding: 100px 0;
  grid-area: bares;
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffffff;
  margin: 20px 0;
  -webkit-animation: bares 1.5s ease-in-out infinite both;
	animation: bares 1.5s ease-in-out infinite both;
}

@-webkit-keyframes bares {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bares {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

#bar1 {
  grid-area: bar1;
  padding-bottom: 20px;
}

#bar2 {
  grid-area: bar2;
  padding-bottom: 20px;
}

#bar3 {
  grid-area: bar3;
  padding-bottom: 20px;
}

#bar4 {
  grid-area: bar4;
  padding-bottom: 20px;
}

.boton_ticket {
  text-decoration: none;
  margin-top: 10px;
}

.boton_ticket a {
  background: #909090;
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px;
}

.boton_ticket a:hover {
  background: #f5f3f3;
  cursor: pointer;
}

/* CONTACTO */

#main_contacto {
  padding: 100px 0;
}
 
.container {
  display: flex;
  width: 55%; /* Ajusta el ancho*/
  margin: 0 auto; /* Centra */
  max-height: 600px;
  padding-top: 200px;
}

.form-container {
  flex: 2; /* 2 tercios */
  padding-right: 20px; /* Espacio entre el formulario y la imagen */
}

.form-image {
  flex: 1; /* 1 tercio */
  min-width: 180px;
}

.form-image img {
  width: 100%; /* Ajusta la imagen para que llene su contenedor */
  max-height: 700px;
  max-width: 200px;
  display: block; /* Evita espacios en blanco abajo de la imagen */
}

/* estilo específico del form */
input[type=text],
input[type=email],
select,
textarea {
  width: 100%; /* Todo el ancho */
  padding: 12px; /* padding */ 
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical /* permite hacer in resize vertical (no horizontal) */
}

/* estilo para el botón submit */
input[type=button] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease; /* transición */
}

/* cambio de color en botón submit */
input[type=button]:hover {
  background-color: #45a049;
  transform: scale(1.1); /* un poco de zoom al hacer hover */
}

/* color y padding */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-content p {
  width: 500px;
  height: 140px;
  color: black;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popup-title {
  font-size: 18px;
  font-weight: bold;
}

.popup-close {
  cursor: pointer; /*pone la manito */
}


/* FOOTER */

footer {
  background-color: #e2d2b0;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

footer .footer_datos .datos li {
  list-style: none;
}

footer .footer_datos .datos li a {
  text-decoration: none;
  color: #080808;
  font-weight: bold;
}

footer .footer_datos .datos li :hover {
  color: #a8a1a5;
}

footer .redes {
  padding-top: 10px;
}

footer .redes a :hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

/* MEDIA QUERIES */

@media screen and (max-width:1600px) and (min-width:1025px) {
  
  #main_event img {
    width: 55%;
    height: 85%;
  }
  #headliner1 img {
    width: 55%;
    height: 85%;
  }
  #headliner2 img {
    width: 55%;
    height: 85%;
  }
  #headliner3 img {
    width: 55%;
    height: 85%;

  }
  #headliner4 img {
    width: 55%;
    height: 85%;

  }
  #concierto1 img {
    width: 55%;
    height: 85%;

  }
  #concierto2 img {
    width: 55%;
    height: 85%;

  }
  #concierto3 img {
    width: 55%;
    height: 85%;

  }
  #concierto4 img {
    width: 55%;
    height: 85%;

  }
  #teatro1 img {
    width: 55%;
    height: 85%;

  }
  #teatro2 img {
    width: 55%;
    height: 85%;

  }
  #teatro3 img {
    width: 55%;
    height: 85%;

  }
  #teatro4 img {
    width: 55%;
    height: 85%;

  }
  #bar1 img {
    width: 55%;
    height: 85%;

  }
  #bar2 img {
    width: 55%;
    height: 85%;

  }
  #bar3 img {
    width: 55%;
    height: 85%;

  }
  #bar4 img {
    width: 55%;
    height: 85%;

  }
}

@media screen and (max-width:1024px) and (min-width:769px){ 
  #slash img{
    max-width: max-content;
  }
  #buscar_eventos {
    width: 70%;
    height: 70%;
  }

  #buscar_eventos input{
    width:350px;
  }
  #main_event img {
    width: 80%;
  }
  #headliner1 img {
    width: 70%;
  }
  #headliner2 img {
    width: 70%;
  }
  #headliner3 img {
    width: 70%;
  }
  #headliner4 img {
    width: 70%;
  }
  #concierto1 img {
    width: 60%;
  }
  #concierto2 img {
    width: 60%;
  }
  #concierto3 img {
    width: 60%;
  }
  #concierto4 img {
    width: 60%;
  }
  #teatro1 img {
    width: 60%;
  }
  #teatro2 img {
    width: 60%;
  }
  #teatro3 img {
    width: 60%;
  }
  #teatro4 img {
    width: 60%;
  }
  #bar1 img {
    width: 60%;
  }
  #bar2 img {
    width: 60%;
  }
  #bar3 img {
    width: 60%;
  }
  #bar4 img {
    width: 60%;
  }
}

@media screen and (max-width:768px){
  
  #hidden {
    display: initial;
  }
  .contenedor {
    display:none;
  }

  #slash {
    display: none;
  }

  #buscar_eventos {
    padding: 160px 0;
  }
  #eventos {
    grid-template-areas: 
  "titulo titulo"
  "main main "
  "headliners headliners"
  "headliner1 headliner1"
  "headliner2 headliner2"
  "headliner3 headliner3"
  "headliner4 headliner4"
  "conciertos conciertos"
  "concierto1 concierto2"
  "concierto3 concierto4"
  "teatros teatros"
  "teatro1 teatro2"
  "teatro3 teatro4"
  "bares bares"
  "bar1 bar2"
  "bar3 bar4"
  }

  #main_event img {
    width: 80%;
    height: 80%;
  }

  #headliner2 {
    margin-top: 120px;
  }

  #headliner3 {
    margin-top: 50px;
  }

  #headliner4 {
    margin-top: 50px;
  }

  #headliner1 img {
    width: 60%;
    height: 80%;
  }
  #headliner2 img {
    width: 60%;
    height: 80%;
  }
  #headliner3 img {
    width: 60%;
    height: 80%;
  }
  #headliner4 img {
    width: 60%;
    height: 80%;
  }
  #concierto1 img {
    width: 55%;
    height: 85%;
  }
  #concierto2 img {
    width: 55%;
    height: 85%;
  }
  #concierto3 img {
    width: 55%;
    height: 85%
  }
  #concierto4 img {
    width: 55%;
    height: 85%;
  }
  #teatro1 img {
    width: 55%;
    height: 85%;
  }
  #teatro2 img {
    width: 55%;
    height: 85%;
  }
  #teatro3 img {
    width: 55%;
    height: 85%;
  }
  #teatro4 img {
    width: 55%;
    height: 85%;
  }
  #bar1 img {
    width: 55%;
    height: 85%;
  }
  #bar2 img {
    width: 55%;
    height: 85%;
  }
  #bar3 img {
    width: 55%;
    height: 85%;
  }
  #bar4 img {
    width: 55%;
    height: 85%;
  }
  footer {
    justify-content: space-evenly;
    padding: 20px 20px;
  }
}

/* para ancho inferior o igual a 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 30px;
  }

  .event2 {
    font-size: small;
  }

  #titulo_main{
    background: url(../Assets/images/fondo_titulo1.png) center no-repeat;
    font-size: 1.5rem;
  }

  #headliners {
    background: url(../Assets/images/fondo_titulo1.png) center no-repeat;
    font-size: 1.5rem;
  }

  #conciertos {
    background: url(../Assets/images/fondo_titulo1.png) center no-repeat;
    font-size: 1.5rem;
  }

  #teatros {
    background: url(../Assets/images/fondo_titulo1.png) center no-repeat;
    font-size: 1.5rem;
  }

  #bares {
    background: url(../Assets/images/fondo_titulo1.png) center no-repeat;
    font-size: 1.5rem;
  }

  .form-image {
      display: none; /* Oculta el contenedor de la imagen */
  }
  .titulo_footer a{
    display: none;
  }
  footer .titulo_footer {
    padding-top: 10px;
  } 
}

@media screen and (max-width:456px) and (min-width:426px){
  
  .redes a img {
    width: 18%;
    padding-top: 10px;
  }
  #buscar_eventos input{
    width: 300px;
    font-size: 1rem;
  }

  h3 {
    font-size: 25px;
  }

  .event2 {
    font-size: smaller;
  }

  .footer_datos li a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width:425px) and (min-width:321px){

  #buscar_eventos input{
    width:250px;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 20px;
  }

  .event2 {
    font-size: x-small;
  }

  #titulo_main {
    background: url(../Assets/images/fondo_titulo2.png) center no-repeat;
    font-size: 1rem;
  }

  #headliners {
    background: url(../Assets/images/fondo_titulo2.png) center no-repeat;
    font-size: 1rem;
  }

  #conciertos {
    background: url(../Assets/images/fondo_titulo2.png) center no-repeat;
    font-size: 1rem;
  }

  #teatros {
    background: url(../Assets/images/fondo_titulo2.png) center no-repeat;
    font-size: 1rem;
  }

  #bares {
    background: url(../Assets/images/fondo_titulo2.png) center no-repeat;
    font-size: 1rem;
  }

  .boton_ticket a{
    font-size: small;
  }

  footer {
    align-items: center;
    justify-content:space-around;
  }
  .footer_datos .datos li a {
    font-size: 0.6rem
  }

  .redes {
    padding-left: 30px;
  }

  .redes a img {
    width: 15%;
  }

  .footer_datos li {
    align-self: center;
  }
}

@media screen and (max-width:320px){

  h1 {
    font-size: 1.3rem;
  }
  
  #buscar_eventos input {
    width: 200px;
    font-size: 1rem;
  }

  #titulo_main {
    background: url(../Assets/images/fondo_titulo2.png) center no-repeat;
    font-size: 1rem;
  }

  #headliners {
    background: url(../Assets/images/fondo_titulo2.png) center no-repeat;
    font-size: 1rem;
  }

  #conciertos {
    background: url(../Assets/images/fondo_titulo2.png) center no-repeat;
    font-size: 1rem;
  }

  #teatros {
    background: url(../Assets/images/fondo_titulo2.png) center no-repeat;
    font-size: 1rem;
  }

  #bares {
    background: url(../Assets/images/fondo_titulo2.png) center no-repeat;
    font-size: 1rem;
  }

  .redes a img {
    width: 15%;
  }

  footer {
    align-items: center;
    justify-content: space-around;
}

  .footer_datos .datos li a {
    font-size: 0.5rem;
}
}